.cardset {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}

.cardset__item {
  max-width: 370px;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% / 3) - 30px);
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.cardset__content-wrapper {
  max-width: 370px;
  padding: 20px 24px;
  border: 1px solid;
  border-top: 0;
  border-color: #ececec;
}

.cardset__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cardset__description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-description-color);
}

.cardset__wrapper {
  position: relative;
  overflow: hidden;
  &:hover .cardset__overlay,
  &:focus .cardset__overlay {
    transform: translateY(0%);
    opacity: 1;
  }
}

.cardset__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 00.03em;
  opacity: 0;
  overflow: auto;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--header-background-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
