

.crew-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: -30px;
  margin-top: -30px;
}

.crew-list__item {
  width: 270px;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.crew-list__wrapper {
  padding: 15px 20px;
  border: 1px solid;
  border-color: #ececec;
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.crew-list__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
}

.crew {
  background-color: var(--secondary-background-color);
}

.crew-list__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-description-color);
}
