.services .container {
  padding-top: 47px;
  padding-bottom: var(--section-pb);
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.services__item {
  position: relative;
  text-align: center;
  width: 370px;
  flex-basis: calc((100% / 3) -30px);
  margin-left: 30px;
  margin-top: 30px;
}

.services__title,
.crew__title,
.clients__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.services__overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
  color: var(--header-background-color);
  padding: 27px 82px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  align-items: center;
}
