
.adress__item{
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.adress__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-background-color);
  margin-bottom: 9px;
}

.adress__link--light {
  color: var(--secondary-text-color);
}
