.contact {
  display: flex;
  margin-left: auto;
}

.contact__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--text-description-color);
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    color: var(--accent-color);
  }
}

.contact__icon {
  margin-right: 10px;
  color: var(--text-description-color);
  fill: var(--text-description-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .contact__link:hover &,
  .contact__link:focus & {
    fill: var(--accent-color);
  }
}
