.navigation {
  display: flex;
  align-items: center;
}

.menu__item {
  display: inline-block;
  align-items: center;
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.menu__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    cursor: pointer;
    color: var(--accent-color);
  }
}

.menu__link--current {
  color: var(--accent-color);
  &::after {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background: var(--accent-color);
  }
}
