.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  &:focus {
    border-color: var(--accent-color);
  }
}
.modal-form__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: #212121;
}
.modal-form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}
.modal-form__input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}
.modal-form__icon {
  position: absolute;
  top: 50%;
  right: 418px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-form__input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form__comment {
  width: 100%;
  height: 123px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 10px;
  outline: none;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form__check-desc {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;

  &::before {
    display: block;
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-color);
    border-radius: 2px;
    margin-right: 8px;
    
    .modal-form__term:checked + & {
  background-image: url("../images/icon-check.svg");
  background-position: center;
  background-color: var(--accent-color);
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 1px solid #fff;  
}
  cursor: pointer;
  .modal-form__term:focus + & {
  outline: 1px solid var(--accent-color);
}
}
  
}
.modal-form__btn {
  display: flex;
  align-self: center;
  min-width: 200px;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0px;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
  transition: bbackground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    background-color: var(--accent-color);
  }
}
  