.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-list__icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: var(--header-background-color);
  }
}
.social-list__item--footer{
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.join {
  display: inline-block;
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  fill: solid;
  color: #ffffff;
}
.social {
  margin-left: 70px;
}
.social-list__link--footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.social-list__icon--footer {
  fill: var(--button-hover-color);
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .social-list__link--footer:hover
  &
  .social-list__link--footer:focus
  & {
  fill: var(--header-background-color);}
  }