:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --title-color: #212121;
  --text-description-color: #757575;
  --header-background-color: #fff;
  --footer-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --button-hover-color: #fff;
  --section-pt: 94px;
  --section-pb: 94px;
}
